CONFIG_ESPDROP_AWDL_TX_LAB=y
CONFIG_ESPDROP_AWDL_MDNS_LAB=y
CONFIG_ESPDROP_AWDL_LAB_DYNAMIC_ELECTION=y
CONFIG_ESPDROP_AWDL_LAB_AUTO_TARGET_AIRDROP=y
# CONFIG_ESPDROP_AWDL_LAB_AUTO_TARGET_DISTANCE_ZERO is not set
CONFIG_ESPDROP_AWDL_LAB_AUTO_TARGET_REQUIRE_CHILD=y
CONFIG_ESPDROP_AWDL_LAB_STAGE_SYNC_ANCHOR=y
